body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    width: 100%;
    background-color: #333;
    padding: 10px 20px;
    height: 80px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem; /* フォントサイズを大きくする */
    color: rgb(0, 0, 0);
    margin: 0;
}
.nav-border {
    flex: 1;
    border-bottom: 1.5px solid rgb(0, 0, 0);
    border-top: 1.5px solid rgb(0, 0, 0);
}
.nav-button:hover {
    background-color: #e48108;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #e48108;
}
/*time table */
.time_table{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.time_table h2 {
    text-align: center;
    color: #333;
}
.time_table p {
    font-size: 0.85rem;
    text-align: center;
    margin-bottom: 1px !important; /* 段落同士の間隔を狭くする */
    margin-top: 1px !important; /* 上部の余白も調整 */
    color: #333;

}
.time_table table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}
.time_table thead {
    background-color: #4CAF50;
    color: white;
}
.time_table th, .time_table td {
    width: 150px; /* セルの幅を固定 */
    height: 50px; /* セルの高さを固定 */
    padding: 12px 15px;
    text-align: center;
    vertical-align: middle;
}
.time_table th {
    font-size: 1rem;
    text-transform: uppercase;
}
.time_table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
.time_table td {
    font-size: 1rem;
    color: #555;
}
.time_table td > br {
    margin-bottom: 5px;
}
.time_table .split-cell {
    display: flex;
    justify-content: space-around;
}
.time_table .split-cell > div {
    width: 48%;
    padding: 10px;
    background-color: #e0f7fa;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/*kyousan*/
.kyousan-sentence {
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
    margin: 20px 0; /* ナビバーと他のコンテンツの間に余白を追加 */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.kyousan-sentence h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem; /* フォントサイズを大きくする */
    color: rgb(0, 0, 0);
    text-align: center ;
    margin: 0;
}
.kyousan-sentence h2 {
    border-top: 5px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem; /* フォントサイズを大きくする */
    color: rgb(0, 0, 0);
    margin: 0;
}
.kyousan-sentence p {
    margin-bottom: 15px; /* 各段落の間にスペースを設ける */
    line-height: 1.6; /* 行間を広くして読みやすくする */
    font-size: 1.1rem; /* テキストを少し大きく */
    color: #495057; /* テキストの色を少し淡く */
}
.kyousan-sentence table {
    width: 100%;
    border-collapse: collapse;
}
.kyousan-sentence th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}
.kyousan-sentence th {
    background-color: #f2f2f2;
    font-weight: bold;
}
.kyousan-sentence  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/*companies*/
.companies {
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
    margin: 20px 0; /* ナビバーと他のコンテンツの間に余白を追加 */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.companies h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem; /* フォントサイズを大きくする */
    color: rgb(0, 0, 0);
    text-align: center ;
    margin: 0;
}
.companies h2 {
    padding-top: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem; /* フォントサイズを大きくする */
    color: rgb(0, 0, 0);
    margin: 0;
    text-align: center ;
}
.companies .name {
    padding-top: 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem; /* フォントサイズを大きくする */
    color: rgb(0, 0, 0);
    margin: 0;
    text-align: center ;
}
.companies p {
    text-align: center ;
    margin-bottom: 15px; /* 各段落の間にスペースを設ける */
    line-height: 1.6; /* 行間を広くして読みやすくする */
    font-size: 1.1rem; /* テキストを少し大きく */
    color: #495057; /* テキストの色を少し淡く */
}

/*event-details*/
.event-details {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    margin: 20px 0; /* ナビバーと他のコンテンツの間に余白を追加 */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
}
.details-text {
    margin-left: 4rem;
    flex: 1;
}
.details-text h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem; /* フォントサイズを大きくする */
    color: rgb(0, 0, 0);
    text-align: left ;
    margin: 0;
}
.highlight-black {
    color: rgb(0, 0, 0);
}
.houshiki{
    font-size: 1.2rem;
    color:rgb(73, 73, 73)
}
.details-text p {
    color: rgb(73, 73, 73);
    font-size: 1.8rem; /* フォントサイズを大きくする */
    margin: 0rem; /* pタグのデフォルトのマージンを0にする */
    line-height: 1.2; /* 行間を調整する */
}
.button-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px; /* ナビバーと他のコンテンツの間に余白を追加 */
}
.reception-period{
    font-size: 1.2rem; /* フォントサイズを大きくする */
    margin: 0.5rem; /* pタグのデフォルトのマージンを0にする */
    line-height: 1.2; /* 行間を調整する */
    text-align: left;
}
.detail-btn {
    background-color: #328dd2;
    color: white;
    width: 100%; /* event-details の幅の 80% に設定 */
    height: auto; /* 高さは自動調整 */
    padding: 20px;
    font-size: 1.6rem; /* フォントサイズを大きくする */
    text-decoration: none;
    border-radius: 50px;
    margin-top: 0px;
    text-align: center;
    display: inline-block;
    box-sizing: border-box; /* パディングとボーダーを幅の中に含める */
}
.poster {
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: 60%;
    margin: 0 auto;
}
.poster img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 400px;
    min-width: 300px;
}

@media (min-width: 1301px) {
    main {
        margin-top: 6rem; /* headerとnavの高さ分の余白を確保 */
        text-align: left;
        padding-left: 2rem; /* コンテンツの周りに余白を追加 */
        padding-right: 2rem; /* コンテンツの周りに余白を追加 */

    }
    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 2rem; /* フォントサイズを大きくする */
        color: #fff;
        margin: 0;
    }
    .menu-btn {
        display: none;
    }
    .nav-items {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    .dropbtn {
        background-color: #333;
        color: white;
        padding: 5px;
        font-size: 1.05rem;
        font-weight: bold;
        border: none;
        cursor: pointer;
        width: 130px;
        height: 40px;
        text-align: center;
        margin-left:0.5rem;
    }
    /* Dropdown content (hidden by default) */
    .dropdown-content {
        display: none;
        position: absolute;
        margin-left:0.5rem;
        background-color: #f9f9f9;
        width: 11rem;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        font-size: 1rem;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #f1f1f1}

    /* Show the dropdown menu when the user clicks on the dropdown button */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* logos */
    .advertisement {
        display: flex;
        justify-content: center;
        padding: 0.2rem;
        background-color: #FFFFFF;
    }
    .logo-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem; /* ロゴ同士の間に余白を追加 */
    }
    .logo-container a {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo-container img {
        width: 100%;
        height: auto;
        object-fit: contain;
        max-width: none;
    }

    /*sentences*/
    .sentences {
        border-top: 5px solid grey;
        border-bottom: 5px solid grey;

        align-items: flex-start;
        justify-content: space-between;
        padding: 20px;
        background-color: white;
        margin: 20px 0; /* ナビバーと他のコンテンツの間に余白を追加 */
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .sentences h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 3rem; /* フォントサイズを大きくする */
        color: rgb(0, 0, 0);
        text-align: center ;
        margin: 0;
    }
    .sentences h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 2rem; /* フォントサイズを大きくする */
        color: rgb(0, 0, 0);
        margin: 0;
    }
    .sentences h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem; /* フォントサイズを大きくする */
        color: rgb(0, 0, 0);
        margin-bottom: 2px !important; /* 段落同士の間隔を狭くする */
        margin-top: 2 !important; /* 上部の余白も調整 */
        margin: 0;
    }
    .sentences p {
        line-height: 1.6; /* 行間を広くして読みやすくする */
        font-size: 1.1rem; /* テキストを少し大きく */
        color: black; /* テキストの色を少し淡く */
        margin-bottom: 8px !important; /* 段落同士の間隔を狭くする */
        margin-top: 0 !important; /* 上部の余白も調整 */
    }
    .detail-btn:hover {
        background-color: #e48108;
    }
    /*subjects*/
    .container {
        border-top: 5px solid grey;
        border-bottom: 5px solid grey;
        align-items: flex-start;
        margin: auto;
        overflow: hidden;
        padding: 20px;
        margin-top: 2rem ;
        background-color: white ;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .subject {
        margin-bottom: 30px;
    }
    .subject h2 {
        font-size: 2rem;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }
    .subject h3 {
        font-size: 1.7rem;
        border-bottom: 2px solid #333;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }
    .subject p {
        font-size: 1rem;
        margin: 0 0 10px 0;
        padding: 0;
    }
}

/* For mobile screens */
@media (max-width: 1300px) {
    main {
        margin-top: 6rem; /* headerとnavの高さ分の余白を確保 */
        text-align: left;
        padding-left: 1rem; /* コンテンツの周りに余白を追加 */
        padding-right: 1rem; /* コンテンツの周りに余白を追加 */

    }
    h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem; /* フォントサイズを大きくする */
    color: #fff;
    margin: 0;
    }
    .menu-btn {
        display: block;
        margin-left: auto;
        background-color: #333;
        color: white;
        font-size: 40px;
        border: none;
        padding: 10px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    .menu-btn:hover {
        background-color: #08b8e4;
    }
    .nav-items {
        display: none; /* Hide the menu initially */
        flex-direction: column; /* Stack buttons vertically */
        background-color: rgb(229, 229, 229); /* Background for dropdown menu */
        position: absolute; /* Make sure it overlays the main content */
        top: 80px; /* Below the header */
        width: 100%; /* Full width on mobile */
        left: 0;
    }
    .dropdown {
        width: 100%; /* Ensure buttons take up full width */
        text-align: center; /* Center align text */
    }
    .dropbtn {
        background-color: #DCDCDC;
        color: black;
        padding: 10px;
        font-size: 0.9rem;
        width: 100%;
        border: 0.1px solid black;
        text-align: center;
    }
    .dropbtn:hover {
        background-color: #dcc6ac;
    }
    /* Dropdown content (hidden by default) */
    .dropdown-content {
        display: none;
        background-color: rgb(235, 198, 157);
        color: white;
        font-size: 0.9rem;
        width: 100%;
        border: none;
        text-align: center;
    }
    /* Links inside the dropdown */
    .dropdown-content a {
        border: 0.1px solid black;
        color: black;
        font-size: 0.9rem;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #e48108
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    /*sentences for phones*/
    .sentences {
        border-top: 5px solid grey;
        border-bottom: 5px solid grey;
        align-items: flex-start;
        justify-content: space-between;
        padding: 20px;
        background-color: white;
        margin: 20px 0; /* ナビバーと他のコンテンツの間に余白を追加 */
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .sentences h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 3rem; /* フォントサイズを大きくする */
        color: rgb(0, 0, 0);
        text-align: center ;
        margin: 0;
    }
    .sentences h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem; /* フォントサイズを大きくする */
        color: rgb(0, 0, 0);
        margin: 0;
    }
    .sentences h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem; /* フォントサイズを大きくする */
        color: rgb(0, 0, 0);
        margin-bottom: 2px !important; /* 段落同士の間隔を狭くする */
        margin-top: 2 !important; /* 上部の余白も調整 */
        margin: 0;
    }
    .sentences p {
        margin-bottom: 15px; /* 各段落の間にスペースを設ける */
        line-height: 1.6; /* 行間を広くして読みやすくする */
        font-size: 0.8rem;
        margin-bottom: 0px !important; /* 段落同士の間隔を狭くする */
        margin-top: 0 !important; /* 上部の余白も調整 */
        color: black; /* テキストの色を少し淡く */
    }
    .sentences li {
        line-height: 1.6; /* 行間を広くして読みやすくする */
        font-size: 0.8rem; /* テキストを少し大きく */
        color: black; /* テキストの色を少し淡く */
    }
    /* logos */
    .advertisement {
        display: flex;
        justify-content: center;
        padding: 0.2rem;
        background-color: #FFFFFF;
    }
    .logo-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem; /* ロゴ同士の間に余白を追加 */
    }
    .logo-container a {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo-container img {
        width: 100%;
        height: auto;
        object-fit: contain;
        max-width: none;
    }
    /*subjects*/
    .container {
        border-top: 5px solid grey;
        border-bottom: 5px solid grey;
        align-items: flex-start;
        margin: auto;
        overflow: hidden;
        padding: 20px;
        margin-top: 2rem ;
        background-color: white ;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .subject {
        margin-bottom: 30px;
    }
    .subject h2 {
        font-size: 2rem;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }
    .subject h3 {
        font-size: 1.2rem;
        border-bottom: 1.4px solid #333;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }
    .subject p {
        font-size: 0.8rem;
        margin: 0 0 10px 0;
        padding: 0;
    }
}


/*event-details and time-tables for phones*/
@media (max-width: 1100px) {
    /*event-details for phones*/
    .event-details {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        background-color: white;
        margin: 20px 0;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-top: 5px solid grey;
        border-bottom: 5px solid grey;
    }
    .details-text {
        margin-left: 1rem;
        flex: 1;
        text-align: center; /* テキストも中央揃え */
    }
    .details-text h2{
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem; /* フォントサイズを大きくする */
        color: rgb(0, 0, 0);
        text-align: center ;
        margin: 0;
    }
    .highlight-black {
        color: rgb(0, 0, 0);
    }
    .houshiki {
        font-size: 0.7rem;
        color: rgb(73, 73, 73);
    }
    .details-text p {
        color: rgb(73, 73, 73);
        font-size: 0.7rem;
        margin: 0;
        line-height: 1.2;
    }
    .button-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }
    .reception-period {
        font-size: 0.80rem;
        margin: 0.7rem;
        line-height: 1.2;
        text-align: center;
    }
    .detail-btn {
        background-color: #328dd2;
        color: white;
        height: auto; /* 高さは自動調整 */
        width:300px;
        padding: 20px; /* パディングを使ってボタンの内部余白を調整 */
        font-size: 1.4rem;
        text-decoration: none;
        border-radius: 50px;
        margin: 10px 0; /* ボタンの上下にマージンを追加 */
        text-align: center;
        display: block;
        align-self: center; /* 親要素の中央に揃える */
    }
    .detail-btn:hover {
        background-color: #e48108;
    }
    /*time table */
    .time_table{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .time_table h2 {
        font-size: 1.5rem;
        text-align: center;
        color: #333;
    }
    .time_table p {
        font-size: 0.7rem;
        text-align: center;
        margin-bottom: 1px !important; /* 段落同士の間隔を狭くする */
        margin-top: 1px !important; /* 上部の余白も調整 */
        color: #333;
    }
    .time_table table {
        width: 100%;
        margin: 0 auto;
        border-collapse: collapse;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        border-radius: 8px;
        overflow: hidden;
    }
    .time_table thead {
        background-color: #4CAF50;
        color: white;
    }
    .time_table th, .time_table td {
        width: 150px; /* セルの幅を固定 */
        height: 50px; /* セルの高さを固定 */
        padding: 12px 15px;
        text-align: center;
        vertical-align: middle;
    }
    .time_table th {
        font-size: 0.7rem;
        text-transform: uppercase;
    }
    .time_table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    .time_table td {
        font-size: 0.7rem;
        color: #555;
    }
    .time_table td > br {
        margin-bottom: 5px;
    }
    .time_table .split-cell {
        display: flex;
        justify-content: space-around;
    }
    .time_table .split-cell > div {
        width: 48%;
        padding: 10px;
        background-color: #e0f7fa;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
}
